*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
  width: 100%;
  height: 100vh;
  background: linear-gradient(145deg,#8caff5,#7c2492);
  padding: 10px;
}
.todo{
    width: 100%;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 20px;
    border-radius: 10px;
    max-width: 500px;
}
.todo h2{
    color: #10418f;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 100px;
}
.todo h2 i{
    width: 30px;
    margin-left: 15px;
}
.todo .row{
    margin-bottom: 20px;
    margin-right: 45px;
    border-radius: 30px;
    /* margin-left: 90px; */
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    flex: 0.9;
    border: 0.5px solid black;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 100;
    border-radius: 15px;
}
.todo .row button{
    border: none;
    outline: none;
    padding: 12px 25px;
border-radius: 30px;    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 15px;
}ul{
    padding: 10px;
}
ul li{
    list-style: none;
    padding-bottom: 20px;
    margin-left: 40px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    position: relative;
    padding-bottom: 25px;
}
ul li::before{
    content: '';
    position: absolute;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 2px;
    left: -30px;
}
ul li.checked{
    color: #695757;
    text-decoration: line-through;
}ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 0px;
    height: 40px;
    width: 40px;
    font-size: 24px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background-color: #b9a7a7;
}